# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Tha-Y\3D Objects\Documents\3sem\Flow3\CA-3\Startcode-Backend\CA3-Backend-startcode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
